<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L&amp;HJ About - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <% include ./partials/nav %>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Love and Honor Jesus    About Us</p>
                <div class="list-group">
                    <a href="/bracelets" class="list-group-item">Bracelets</a>
                    <a href="/collections" class="list-group-item">Collections</a>
                    <a href="/earrings" class="list-group-item">Earrings</a>
                </div>
            </div>

            <div class="col-md-9">
<div><p> <img id="aboutimage" src= "image/family.jpg" class="img-responsive" ><h1>Rodriguez Family 2011</h1></p></div>

  <h2>Mari's Bio</h2>

  We are a family business. My husband and I, along with our 5 children strive to live God's Will and hope that we are able to bless others through the products we provide. I am a stay-at-home mom and at the age of 42, I have FINALLY found my passion and feel extremely blessed to be sharing in His word while providing affordable products that will hopefully be reminders for all who purchase or receive them to pray and give thanks for all our blessings! My husband, at the age 46 was given 14 original songs through much prayer and composed his Love and Honor Jesus CD, hence the name of our little shop. It is an awesome CD and we have received so much positive feedback from all who have heard it. It is also available on iTunes and amazon.com

Mari (Maricella) Rodriguez was born and raised in Corpus Christi, Texas, the only daughter of Xavier and Loretta Gonzalez's four children.  She attended St. Cyril and Methodius Catholic grade school, and after graduating from Mary Carroll High School, she obtained a Bachelor of Science degree in Speech Communications from the University of Texas at Austin.  Her job as a Communications Consultant for AEP/Central Power and Light Company brought her to the Rio Grande Valley where she met and married her husband, Cecilio, in 1997.  By 2002, they had 4 children:  Loretta, Rebecca, Diego and Lia.  At this time they decided it would be best if she devoted her time fully to the children and the family household.

Mari attended her first Women's ACTS retreat in 2008, and served on 5 Women's ACTS retreats, twice as a co-director.  One of the many benefits she received from the ACTS retreat was a strong desire to start a Faith and Sharing group at Holy Spirit Church, their parish.  The weekly meeting served as an educational and spiritual support group for women and is still in existence today.

In 2011, the Rodriguez's welcomed their 5th child, Cruz.  At this time Cecilio was recording Love And Honor Jesus, a collection of 14 original songs for the Lord.  Although her Faith and Sharing class continued in her absence, Mari felt a desire to continue in her ministry, even though she was at home.  Cecilio's example of creating something dedicated to our Lord led her to begin making religious jewelry.  Mari discoved she not only had a passion for creating religious bracelets, necklaces and earings but also really enjoyed the opportunity to use her decorating skills to display her work,  as well as use communication skills and her interest in social media to help her connect with her customers.

"Because it all began with my husband's CD, Love And Honor Jesus, I decided to call my jewelry by the same name.  This is a ministry that allows us to combine our indivual passions with the same purpose:  to encourage others in their prayer life."  Mari has her jewelry line displayed in her home and at women's boutiques.  The Rodriguez display their Love And Honor Jesus table at various religious conferences and community events as they arise.  "With the religious upbringing I received, I was always encouraged to devote my time and talent for the glory of God.  What a blessing it has been to create this religious jewelry and to receive such a positive response from those who wear it!  I always hoped and prayed that I would have an opportunity to use the gifts God gave me to bring others closer to Him."

Cecilio's great-great grandfather, Domingo Pena erected a cross on Santa Cruz hill more than a hundred years ago and his monument to our Lord still stands.  His actions inspired Cecilio to record his original songs for the Lord, Love and Honor Jesus, as his offering, his monument to our Lord in music.  Mari, his wife, through her religious jewelry line continues to build her monument.  "I pray that God will guide us to make this what He intends it to be.  I look forward to the future and what He has planned for us and Love and Honor Jesus."

<div></p><img id="aboutimage" src= "image/rodriguez-1983.jpeg" class="img-responsive"><h1>Rodriguez Family 1983</h1><p></div><h2>Cecilio's Bio</h2>Cecilio Rodriguez is the eldest son of Cecilio and Rebecca Rodriguez.  Born in San Antonio, along with his nine brothers and sisters, he attended St. Anthony’s grade school where he received religious instruction from the Sisters of Divine Providence.  He attended Central Catholic High School, where he received religious instruction from the Marianist Brothers.  He continued his education at St. Mary’s University, another Marianist institution.  Cecilio feels very blessed to have received a Catholic education throughout his life.   Although it was a financial sacrifice, his parents saw this as an investment in their children’s futures.

After graduating from Pharmacy School at the University of Texas at Austin, Cecilio moved to the Rio Grande Valley where he has resided since 1992.  He and his wife Maricella married in 1997 and have five children:  Loretta, Rebecca, Diego, Lia and Cruz.

It wasn’t until Cecilio attended an ACTS retreat in San Antonio in 2007 that he received a strong call to music ministry.  He looked to others involved in music ministry at Holy Spirit Church, his parish, to guide him.   He purchased many music books and CD’s, trying to learn as many songs for the Mass as possible.  He played music for morning daily Mass and was asked to serve on an ACTS retreat in 2008.  He has served as music director for five Men's ACTS retreats from 2008-2013.  In 2014 he served on a Prison ACTS team as a music minister.

Beginning in 2009, Cecilio was inspired through prayer to compose his first song .  As time went by, many more original songs would come to mind, either during preparation for retreats, or after morning daily Mass, during Adoration, or upon awakening.  The recordings on the Love and Honor Jesus CD serve to document the songs written from 2009-2011 .  Cecilio is very grateful to all who have made this recording possible and have allowed for the possibility for these songs to reach as many people as possible.</p>

              </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Love and Honor Jesus, Silvia Ramirez 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
