<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L&amp;HJ Album - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <% include ./partials/nav %>




    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Love and Honor Jesus  L&amp;HJ Album</p>
                <div class="list-group">
                  <a href="/bracelets" class="list-group-item">Bracelets</a>
                  <a href="/collections" class="list-group-item">Collections</a>
                  <a href="/earrings" class="list-group-item">Earrings</a>
                </div>
            </div>

            <div class="col-md-9">


                <div class="row"> <p> <img id="aboutimage" src= "image/back-album-cover.jpg" class="img-responsive"></p>



                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="image/front-album-cover.jpeg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$10.00</h4>
                                <h4><a href="#">L&amp;HJ Album</a>
                                </h4>
                                <p>14 original songs by Cecilio Rodriguez</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                            <p>In 2009, Cecilio Rodriguez was inspired through prayer to write his first song for the Lord.  As time went by, many more songs would come to mind, either during preparation for retreats, or after morning daily Mass, during Adoration, or upon awakening.  Love And Honor Jesus documents the songs written between 2009-2011.  Cecilio is very grateful to all who have made this recording possible and have allowed for the possibility for these songs to reach as many people as possible.
            Love and Honor Jesus Album	</p>
                        </div>
                    </div>
                </div>
                <div>
                <p><img id="aboutimage" src= "image/cross-history.jpg" class="img-responsive"><h2>History of the Cross</h2></p>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Love and Honor Jesus, Silvia Ramirez 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
