<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L&amp;HJ Nativity - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<% include ./partials/nav %>
</body>
<div class="col-md-3">
    <p class="lead">Love and Honor Jesus Christmas Nativity</p>
    <div class="list-group">
      <a href="/bracelets" class="list-group-item">Bracelets</a>
      <a href="/collections" class="list-group-item">Collections</a>
      <a href="/earrings" class="list-group-item">Earrings</a>
    </div>
</div>
<div>
<h2>Christmas Nativity</h2>
<div class="row"> <p> <img id="nativityimage" src= "image/christmas_nativity.jpeg" class="img-responsive"></p></div>

<p>It all began Christmas of 1996, when Cecilio Rodriguez gave his fiance, Maricella, a special gift that was placed inside a paper mache star he made for her.

   That star is the oldest of the 27 piece nativity scene they display in their yard during the Christmas season.  Through the years, Cecilio, Maricella and their

   5 children have created the paper mache baby Jesus, Mary, Joseph, three kings, two shepherds, two sheep, lamb, cow, donkey, camel, star of Bethlehem and 12 other stars.

    These life size figures, along with thousands of lights and other recycled materials like aluminum cans, bottle caps and used lottery tickets recreate the scene of Jesus' birth.

"I've always loved large nativiity scenes,"  Cecilio said.  "As a child, they really made an impression on me.  When our children were young, I was inspired to make figures out of

paper, like the star I made my wife.  In 2001, I made the baby Jesus, Mary and Joseph.  In the years that followed more figures would be added, one or two at a time.

This is the 14th year we have displayed our handmade nativity scene."

Although it is a time consuming process, it is time well spent.   "I find this time ideal to talk to our children about Jesus as they help attach the strips of paper to the figure.

"  Cecilio said.  "This project allows us the opportunity to bring the story of the birth of Jesus to life for our children and for others as well.  One of my favorite things to do

after the display is complete is to sit outside and listen to the people in cars passing by tell the story of the birth of our Lord to their children as they look upon the nativity scene."

Every year the figures are repapered and repainted so that they look as good as new.   With each new layer of paper and paint, they have become stronger.

"Many people look at me in disbelief that I go through this process every year.  I tell them that I couldn't have gotten to step one of this project if I didn't enjoy it.

All I can say is the Lord put it in my heart to do it, so as long as I have the desire, I will continue."

Cecilio continues to be inspired by his ancestors.  His maternal grandmother, Consuelo Villegas, also enjoyed displaying her handmade nativity scene in her yard.

His great-great grandfather Domingo Pena erected the cross at Santa Cruz hill.  "More that a hundred years later the cross on the hill continues to share the faith with all those in the community.

"  Cecilio said.  "Our nativity scene conveys the same message.  Jesus Christ is Lord.  Love and Honor Jesus."</p>
</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Love and Honor Jesus, Silvia Ramirez 2016</p>
        </div>
    </div>
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
