<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>L&amp;HJ Pilgrimage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <% include ./partials/nav %>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Love and Honor Jesus Lenten Pilgrimage</p>
                <div class="list-group">
                  <a href="/bracelets" class="list-group-item">Bracelets</a>
                  <a href="/collections" class="list-group-item">Collections</a>
                  <a href="/earrings" class="list-group-item">Earrings</a>
                </div>
            </div>

            <div class="col-md-9">

              <p><h1>Lenten Pilgrimage</h1><br>This year the Lenten Pilgrimage
                to the cross at Santa Cruz hill will be on Febuary 27, 2016.  We will gather
                at the foot of the hill at 10:00 am to pray the rosary.  After praying for a safe climb,
                we will ascend the hill reciting the Stations of the Cross.  At the top we offer prayers of intention and thanksgiving.
                There will be a group picture taken at the conclusion of the gathering.  Afterwards, all are invited to join us for
                fellowship and lunch at Chili's.<br><br>

                This year is the 11th year of the pilgrimage.  After the death of Severina Rodriguez, the beloved
                matriarch of our family on March 3, 2002, the Rodriguez family gathered in Rio Grande City one year
                later to honor and remember her.  Climbing Santa Cruz hill to the cross, we prayed as a family in her memory.
                In 2007, the family gathered once more, on the fifth anniversary of her passing.  Every year following, the pilgrimage
                has continued as a way of entering into the season of Lent with a deeper understanding and appreciation of the sacrifice of our Lord.</p>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz07.jpg" class="img-responsive"><h2>Santa Cruz 2007</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz15.jpg" class="img-responsive"><h2>Santa Cruz 2015</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz14.jpg" class="img-responsive"><h2>Santa Cruz 2014</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz13.jpg" class="img-responsive"><h2>Santa Cruz 2013</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz12.jpg" class="img-responsive"><h2>Santa Cruz 2012</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz11.jpg" class="img-responsive"><h2>Santa Cruz 2011</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz09.jpg" class="img-responsive"><h2>Santa Cruz 2009</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz08.jpg" class="img-responsive"><h2>Santa Cruz 2008</h2></p></div>

                <div class="row"> <p> <img id="pligrimageimage" src= "image/pilgrimage/santacruz05.jpg" class="img-responsive"><h2>Santa Cruz 2005</h2></p></div>
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Love and Honor Jesus, Silvia Ramirez 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
