body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


  background-color: #6EBCCF !important;

}

a {
  color: #6EBCCF;
}

navbar-fixed-top{
  color: #6EBCCF !important;

}


navbar-nav{
  color: #6EBCCF !important;
}

navbar-nav .a{
  color: #6EBCCF !important;
}

#aboutimage {
  max-height: 450px;
  float: right;
  padding: 20px;
}

#contactimage {
  max-height: 450px;
  float: center;
  padding: 20px;
}

p{
  padding: 10px;
}
